/* GENERIC STYLES */

/* COMMON STYLES */

/* HEADER STYLES */

.logo {
    text-align: center;
    margin: 70px 0;
}

.logo a {
    text-decoration: none;
}

/* MAIN SECTION STYLES */

.gallery {
    margin-bottom: 3px;
}

.gallery .thumb-container {
    margin-bottom: 3px;
    padding: 0 3px 0 0;

    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.gallery .thumb-container.crop-height img {
    width: 99%;
    height: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery .thumb-container.crop-width img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -100%;
    margin: auto;
}

.gallery .thumb {
    width: 100%;
    height: auto;
}
