/* GENERIC STYLES */

/* COMMON STYLES */

/* HEADER STYLES */

.logo {
    text-align: center;
    margin: 70px 0;
}

.logo a {
    text-decoration: none;
}

/* MAIN SECTION STYLES */

.gallery {
    /* display: flex;
     flex-wrap: wrap;*/
}

.gallery .thumb-container {
    /*max-height: 350px;*/
}

.gallery .thumb {
    width: 100%;
    height: auto;
}
