/* GENERIC STYLES */
body {
    font-family: 'Lato', sans-serif;
}
/* COMMON STYLES */

/* HEADER STYLES */

.logo {
    text-align: center;
    margin: 60px 0 0;
    letter-spacing: 20px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.profile-picture {
    margin: 60px 0 30px;
}



.profile-picture .img-rounded {
    border-radius: 100%;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.bio-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* MAIN SECTION STYLES */

.gallery {
    margin-bottom: 3px;
}

.gallery .thumb-container {
    margin-bottom: 3px;
    padding: 0 3px 0 0;

    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.gallery .thumb-container.crop-height img {
    width: 99%;
    height: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery .thumb-container.crop-width img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -100%;
    margin: auto;
}

.gallery .thumb {
    width: 100%;
    height: auto;
}

/* FULL IMAGE STYLES */

.image-full-container button.close {
    top: 30px;
    right: 30px;
    width: 44px;
    height: 44px;
    z-index: 500;
    position: fixed;
    outline: 0;
    opacity: 1;
    font-size: 60px;
    font-weight: 400;
}
.image-full-container .image-full img {
    margin: 80px auto;
    height: 760px;
    display: block;
}

/* FOOTER STYLES */
.footer-links {
    padding: 0;
    margin: 50px auto;
}

.footer-links span {
    font-weight: 700;
}
