<div class="footer-container">
    <div class="row">
        <div class="container footer-links">
            <div class="col-md-3">
            	<span>&copy; Copyright Iulian Visuals</span>
            </div>
            <div class="col-md-3">
                <span>Phone:</span> <a href="tel:+40 729 592 674">+40 729 592 674</a>
            </div>
            <div class="col-md-3">
                <span>Facebook:</span> <a href="https://www.facebook.com/iuliancimpian" target="_blank">https://www.facebook.com/iuliancimpian</a>
            </div>
            <div class="col-md-3">
                <span>Instagram:</span> <a href="https://www.instagram.com/iulian_cimpian/" target="_blank">https://www.instagram.com/iulian_cimpian/</a>
            </div>
        </div>
    </div>
</div>
