<header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 logo">
                        <h1><a href="/">Iulian Visuals</a></h1
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        img 1
                    </div>
                    <div class="col-md-3">
                        img2
                    </div>
                    <div class="col-md-3">
                        img3
                    </div>
                    <div class="col-md-3">
                        img4
                    </div>
                </div>
            </div>
        </main>
